header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blue;
    font-size: 1.45em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}